/* 基本网页样式 */
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
	background-color: black;
	color: white;
	height: 10000px;
}
a {
	text-decoration: none;
}
a:link {
	color: #333;
	/* 未访问 */
} 
a:visited {
	color: #333;
	/* 已访问 */
}
a:hover {
	color: #333;
	/* 鼠标悬停 */
}
a:active {
	color: #333;
	/* 点击中 */
}
#top_box {
	width: 100%;
	height: 60px;
	background-color: rgb(22, 22, 141);
	top: 0;
	position: fixed;
	z-index: 1;
}
#top_box  img {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	margin-top: 5px;
	margin-left: 10px;
	float: left;
	transition: all 0.5s;
}
#top_box img:hover {
	transform: rotate(360deg);
}
#top_box  .text_1 {
	color: white;
	font-size: 26px;
	width: 150px;
	height: 26px;
	margin-top: 10px;
	margin-left: 90px;
}
#left_box {
	position: fixed;
	width: 260px;
	height: 100%;
	z-index: 1;
	background-color: rgb(0, 0, 0);
	top: 60px;
	color: white;
	padding-top: 50px;
	padding-left: 5px;
}
#left_box  .button {
	width: 240px;
	height: 40px;
	margin-top: 15px;
	border-radius: 6px;
	color: white;
	transition: all 0.2s linear;
}
#left_box .button .bsf {
	float: right;
	color: rgb(0, 231, 0);
	opacity: 0;
	transition: all 0.5s;
}
#left_box  .button:hover .bsf {
	opacity: 1;
}
#left_box  .button:hover {
	background-color: #111;
}
#left_box  .point {
	color: white;
	width: 240px;
	height: 40px;
	border-radius: 6px;
	background-color: rgb(31, 31, 31);
	margin-top: 15px;
	box-shadow: inset -2px -2px 2px rgb(30, 30, 30);
	transition: all 0.2s linear;
}
#left_box .point .bsf {
	color: rgb(255, 255, 255);
	float: right;
	transition: all 0.5s;
}
#left_box  .point:hover .bsf {
	color: rgb(0, 231, 0);
}
#left_box p {
	display: block;
	line-height: 40px;
	font-size: 20px;
	margin-left: 40px;
}

